* {
    /*box-sizing: border-box;*/
	padding: 0;
	margin: 0;
	border: none;
}
body {
	max-width: 1920px;
	margin: auto;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	background-color: #FFFBFA;
	color: #222222;
}
.topnav {
	overflow: hidden;
	padding-right: 3%;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	  background-color: #FFFBFA;
}
.topnav a {
	float: right;
	display: block;
	color: #222222;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1rem;
  }
  .topnav #bgnimi {
	float: left;
	display: block;
	color: #222222;
	text-align: center;
	padding: 14px 1% 14px 1%;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
  }
  .topnav a:hover {
	cursor: pointer;
	color: #F3A712;
  }
  
  .topnav a.active {
	color: #F3A712;
  }
  
  .topnav .icon {
	display: none;
  }
  .topnav .search-container {
	  
	float: left;
	display: block;
	padding-left: 1%;
  }
  .topnav input[type=text] {
	  width: 75%;
	padding: 5px;
	margin-top: 8px;
	font-size: 1rem;
	border: 1px solid;
	border-color: #7C7C7C;
	border-radius: 5px;
  }
  .topnav .search-container button {
	  width: auto;
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	background: #F3A712;
	color: #FFFBFA;
	font-size: 1rem;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  .topnav .search-container button:hover {
	background:#7C7C7C;
	width: auto;
  }
#bglintu{
	height: 40px;
	margin: 3px 0px 3px 5%;
	float: left;
	display: block;
}
#nimi {
	color: #F3A712;
}

header {
	width: 100%;
}
main {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

#user-info {
	margin-left: 5%;
	padding-bottom: 40px;
	font-size: 1.5rem;
	font-weight: bold;
}
#uusimmat, #omatkuvat {
	margin-left: 4%;
	font-weight: bold;
	padding: 10px 1% 1% 1%;
	color: #FFFBFA;
	font-size: 1.3rem;
}
#user-contentbar{
	display: flex;
}

h1{
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
#otsikonpikkuteksti{
	margin: 0;
	padding: 0 0 4px 0;
	color: #F3A712;
	font-size: 0.91em;
}
.bgkuva{
	margin-bottom: 40px;
}
#bglinnut{
	max-width: 100%;
}
#otsikko{
	background-color: white;
	text-align: left;
	padding: 30px 50px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;
	margin-bottom: 50px;
}
.lintutaulu {
	background-color: #FFFBFA;
	padding: 0.3rem;
	box-sizing: border-box;
	
}
.lintutaulu h3{
	text-align: center;
}
.lintutaulu p {
	width: 95%;
	font-size: 0.9rem;
	padding: 1%;
}
.lintutaulu button:last-child {
	float: right;
}
.lintutaulu button {
	margin: 0pc 1%;
}
#valokuvat, #aanet{
	background-color: #7C7C7C;
	max-width: 100%;
	
}
#footerbgnimi {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin: 2% auto;
}
@media screen and (max-width: 760px) {
	.topnav a {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	  font-size: 1.2rem;
	}
	.bgkuva{
		margin-bottom: 20px;
	}
  }
  @media screen and (max-width: 760px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: right;
	}
	.topnav.responsive #navbar-user {
		margin-top: 40px;
	  }
	  .lintutaulu button:last-child {
		float: left;
	}
  }
  @media screen and (max-width: 520px) {
	.topnav #bgnimi{
		display: none;
	}
	.bgkuva{
		margin-bottom: 10px;
	}
	#uusimmat, #omatkuvat {
		margin: auto;
		font-weight: bold;
		padding: 6px 1% 1% 1%;
		color: #FFFBFA;
		font-size: 1.3rem;
	}
  }